<div class="ui divider section hidden"></div>

<footer class="footer ui segment basic very padded secondary">
    <div class="ui container">
        <div class="ui stackable three column grid">
            <div class="column">
                <h4>
                    <a href="https://javan.co.id">
                        PT Javan Cipta Solusi
                    </a>
                </h4>
                <p>
                    Create integrated, innovative and creative IT solutions that meet market needs since 2008.
                </p>
                <h4>Connect</h4>
                <a href="https://www.facebook.com/javancs">
                    <i class="icon facebook circular inverted grey"></i>
                </a>
                <a href="">
                    <i class="icon twitter circular inverted grey"></i>
                </a>
                <a href="">
                    <i class="icon linkedin circular inverted grey"></i>
                </a>
            </div>
            <div class="column">
                <h4>
                    Head Quarter
                </h4>
                <p>
                    Komplek Daichi No. 55, Jl. Terusan Jakarta
                    <br>
                    Bandung, Jawa Barat, Indonesia.
                </p>
                <p>
                    +62-22-87831878
                    <br>
                    info@javan.co.id
                </p>
            </div>
            <div class="column">
                <h4>
                    Research &amp; Development
                </h4>
                <p>
                    Jl. Kalimantan 137F, Sono, Depok
                    <br>
                    Sleman, Yogyakarta, Indonesia
                </p>
            </div>
        </div>

        <div class="ui hidden divider section"></div>
        <div class="ui hidden divider section"></div>
        <img src="{{ url('theme://images/separator.png') }}" alt="" class="ui image mini centered">
        <h3 class="footer__quote text-centered"><i>"The Biggest Room In The World Is Room For Improvement"</i></h3>

    </div>
</footer>


