<header class="topbar">
    <div class="ui container">
        <div class="topbar__inner">
            <a class="header" href="{{ base_url_absolute }}">
                <img src="{{ url('theme://images/avatar.png') }}" alt="" class="ui image mini avatar">
                <span class="topbar__title soft-muted">{{ site.title }}</span>
            </a>
        </div>
    </div>
</header>
