img {
    max-width: 100%;
}

.muted {
    color: rgba(0, 0, 0, 0.5) !important;
}
.soft-muted {
    color: rgba(0, 0, 0, 0.7) !important;
}
.text-centered {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left !important;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    overflow: hidden;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    transition: all .8s;
    text-align:center;
    height: 121px;
    line-height:120px;
    font-size: 2em;
    font-weight: 300;
}
.topbar .topbar__inner {
    border-bottom: 1px solid #eee;
}
body {margin-top: 150px}
body.shrink .topbar{
    height: 51px;
    line-height:50px;
    font-size: 1.3em;
}

body .topbar .ui.image.mini {
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    transition: all .8s;
}
body.shrink .topbar .ui.image.mini {width: 20px}

.post__title {margin-bottom: 0; font-size: 2.2em}
.post .post__body p {
    color: rgba(0,0,0,.7);
}
.post--single .post__title {
    font-size: 2.5em;
}

.post--single .post__body p {
    font-size: 1.2rem;
    line-height: 1.8em;
}

footer.ui.segment.secondary {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.4) !important;
}
footer h4 {font-weight: 700; margin-bottom: 5px;}
.footer__quote{font-size: 1.5em; margin-bottom: 5px;}
.footer__copyright{font-weight: 700;font-size: .9em}
